---
layout: default
---
{% include JB/setup %}
{% include themes/twitter/page.html %}

<!-- AddThis Smart Layers BEGIN -->
<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-536913fe4af69f74"></script>
<script type="text/javascript">
  addthis.layers({
    'theme' : 'transparent',
    'share' : {
      'position' : 'left',
      'numPreferredServices' : 5
    }, 
    'follow' : {
      'services' : [
        {'service': 'twitter', 'id': 'Effikae'},
        {'service': 'rss', 'id': 'http://feeds.feedburner.com/github/DKYN'}
      ]
    },  
    'whatsnext' : {}  
  });
</script>
<!-- AddThis Smart Layers END -->